include setup.py
include setup.cfg
include README.mediawiki
include NEWS.mediawiki
include LICENSE.txt
include MANIFEST.in
include Makefile
global-include *.ebnf
include tests/*
include tests/data/*
include tests/static/*
include tests/out/README.txt
include tests/out/report-0001.dat
include tests/out/report-0001.html
global-exclude *.pyc
global-exclude *.pyo
global-exclude *~
global-exclude *.orig
